@use "sass:math";

// Center block
@mixin center-block {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

// Column width with margin
@mixin column-width($numberColumns: 3) {
    width: math.div($columns--margin * $numberColumns - 1, $numberColumns)
}


@mixin respo-big {
    @media (min-width: 1380px) {
        @content;
    }
}

@mixin respo-medium {
    @media (max-width: 880px) {
        @content;
    }
}

@mixin respo-small {
    @media (max-width: 480px) {
        @content;
    }
}