button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	color: white;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 20px;
	background-color: #67836E;
	border: #67836E 1px solid;
	cursor: pointer;

	&:hover {
		color: #67836E;
		background-color: #fff;
		border: #67836E 1px solid;
	}
	&:active,
	&:focus {
		border-color: $color__border-button-focus;
	}
}
